@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.font-mulish {
    font-family: "Mulish", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header style */

.header-container {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
    padding: 3rem 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo h2 {
    font-size: 2.5rem;
    font-weight: 900;
}

.logo img {
    width: 50px;
    height: 50px;
}

.logo-color {
    color: #FF5400;
}

.navbar {
    display: flex;
    align-items: center;
}

.nav-color {
    color: #FF5400 !important;
}

.navbar ul {
    display: flex;
    gap: 3rem;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 1.25rem;
}

/* banner style */

#banner {
    height: 760px;
    background-image: url(../assets/img/hero-bg.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 44px 0 310px 0;
}

.banner-content {
    position: relative;
}

.circle {
    width: 420px;
}

.mic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.badge {
    font-size: 1.5rem;
    color: #fff;
    background-color: green;
    padding: 5px;
    border-radius: 8px;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 54%;
}

.banner-description {
    max-width: 600px;
    margin: auto;
    margin-top: 1.5rem;
}

.banner-description h2 {
    font-size: 3rem;
    color: #fff;
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.banner-description p {
    font-size: 1.25rem;
    color: #ffffff64;
    font-weight: 600;
}

.primary-btn {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    background: linear-gradient(#43ed0a, #03bcdcbb);
    border: none;
    margin-top: 1.25rem;
    color: #fff;
    font-weight: 700;
    border-radius: 0.5rem;
}