* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#banner {
    min-height: 760px;
    background-image: url(../header/hero-bg.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 70px 0 310px 0;
}

.banner-content {
    position: relative;
}

.circle {
    width: 420px;
}

.mic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.badge {
    font-size: 1.5rem;
    color: #fff;
    background-color: green;
    padding: 5px;
    border-radius: 8px;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 54%;
}